@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@font-face {
  font-family: "Open Sans", sans-serif;
}

$blue: #007BC7;
$darkBlue: #4c6082;
$grey: #bec5d1;
$darkGrey: #606266;

html {
  font-family: "Open Sans";
}

body {
  // background-image: url('images/whitePoly.png');
  background-repeat:repeat;
  background-size: 100%;
}

#navbar {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  top:0;
  left:0;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: $blue;
  width: 100%;
  padding: 0 5% 0 5%;
  z-index: 100;
}

#navbar li {
  float: left;
}

#navbar li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
#navbar li a:hover {
  background-color: $darkBlue;
}

.info {
  display:inline-block;
  background-color:white;
  width: 100%;
  min-height: 300px;
  padding: 0 0 10px 0;
  border-radius: 5px;
  box-shadow: 0px 0px 10px $grey;
}

.info *{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 40px;
  padding-right: 40px;
}

h2 {
  background-color: $blue;
  width: 100%;
  margin:0;
  color: white;
  padding: 10px 40px 10px 40px;
  border-radius: 5px 5px 0px 0px;
}

h4 {
  padding:0 !important;
  margin: 20px 0 -10px 40px;
  display: inline-block;
  border-bottom: 1px solid $blue;
}

h5 {
  font-size: 10px;
  color: $darkGrey;
}
#content{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  top: 100px;
  width: 100vw;
  padding: 0 5% 0 5%;
}

.iframe {
  float: right;
  margin-right:5%;
  height: 100vh;
  width: 55%;
}

iframe{
  border:none;
  width: 100%;
  height: 100%;
}

#infoList {
  top: 0;
  list-style-type: none;
  width: 25vw;
  padding: 0;
  margin: 0;
  z-index: 5;
}

#infoList li {
  margin: 0 0 5% 0;
}

#content div {
  display:inline-block;
}

@media screen and (max-width: 1000px) {
  #content div {
    width: 90vw;
    margin:0;
  }
}
