<!DOCTYPE html>
<html>
<head>
	<title>Sign Up</title>
	<link href="./css/main.css" rel="stylesheet" type="text/css" media="all" />
	<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
	<script src="./js/login.js"></script>
</head>
<body style = "background-image: url('/images/poly.png');padding-top: 200px;">
	<iframe style="display:none" name="dummyframe" id="dummyframe"></iframe>
	<div class="main">
		<div class="agile">
			<div class="signin-form profile">
				<h5>Sign Up</h5>
				<h3 class = "error hidden" id = "message">test</h3>
				<div class="login-form">
					<form action="/auth/signup" method="post" target="dummyframe">
						<input type="text" name="email" placeholder="E-mail" required="">
						<input type="text" name="username" placeholder="Username" required="">
						<input type="text" name="name" placeholder="Full Name" required="">
						<input type="password" name="password" placeholder="Password" required="">
						<input type="password" name="passwordConf" placeholder="Confirm Password" required="">
						<input type="submit" value="REGISTER" onClick="hide()">
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>