@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@font-face {
  font-family: "Open Sans", sans-serif;
}

$blue: #007BC7;
$darkBlue: #4c6082;
$grey: #bec5d1;
$darkGrey: #606266;

@mixin transform($property) {
  -webkit-transform: $property;
  -moz-transform: $property;
  -ms-transform: $property;
  transform: $property;
}

.box {
  position: relative;
  top: -100px;
  width: 100vw;
  min-height: 30px;
  padding: 1% 5px 1% 0px;
  padding-left: 10vw;
  background-color: $blue;
  color: white;
  @include transform(skewY(3deg));
}

.box > .wrapper {
  @include transform(skewY(3deg));
}

#top h1 {
  font-size: 0.75in !important;
}

#top {
  padding-top: 10px;
  top: -10px;
  position: relative;
  height: 110vh;
  width: 100vw;
  background-image: url("/images/charts.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

box, #top, #features {
  left: 0 !important;
  top: 0 !important;
}

#content {
  margin-top: 25vh;
  margin-left: 10vw;
  height: 40vh;
  color: white;
  width: 800px;
}

body {
  margin: 0;
  padding: 0;
  height: 200vh;
  font-family: Open Sans;
  overflow-x: hidden;
}

h1 {
  font-size: 50px;
  color: $blue;
  margin-bottom: -10px;
}

.button {
  border-radius: 5px;
  background-color: $blue;
  display: inline-block;
  padding: 10px;
  width: 80px;
  text-align: center;
  margin: 10px 10px 10px 0;
  font-weight: bold;
}

.button:hover {
  background-color: $darkBlue;
  cursor: pointer;
}

#logo {
  width: 80px;
}

#logo * {
  fill: $blue;
}

#logo:hover * {
  fill: $darkBlue;
  cursor: pointer;
}

#navbar {
  margin: 10px 0 0 10vw;
  max-width: 1500px;
}

h3 {
  display: inline-block;
  color: white;
  margin: 0 20px 0 20px;
  line-height: 100px;
  font-size: 18px;
}

h3:hover {
  color: $darkBlue;
  cursor: pointer;
}

h2 {
  font-size: 60px;
  font-family: "Overpass";
  font-weight: 100;
}

@media (max-width: 1000px) {
  #navbar h3 {
    display: none;
  }
}
#inputSearch {
  background-image: url("https://www.w3schools.com/css/searchicon.png");
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: none;
  border-bottom: 3px solid $blue;
  margin-top: 30px;
}

#inputSearch:focus {
  outline-width: 0;
  border-color: $darkBlue;
}

#graphing {
  width: 100%;
  padding-left: 10vw;
  padding-bottom: 100px;
}

#search {
  width: 100%;
  display: inline-block;
  overflow-x: hidden;
}

#container {
  width: 100%;
  margin-top: 30px;
}

#tickers {
  margin-bottom: 0px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#tickers li {
  border: 1px solid #ddd;
  margin-top: -1px;
  /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block;
}

#tickers li:hover {
  background-color: $blue;
  cursor: pointer;
}

.cont {
  width: 80vw;
}

h5 {
  font-size: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eaeaea;
}

table {
  table-layout: fixed;
}

td {
  width: 50%;
  vertical-align: top;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#features {
  position: relative;
  background-color: black;
  width: 100vw;
  padding: 10vw;
  background-image: url("../images/poly.png");
  background-repeat: no-repeat;
  background-size: cover;
}

#features table {
  width: 100%;
}

#features td {
  text-align: center;
}

.feature {
  display: inline-block;
  background-color: white;
  height: 500px;
  width: 400px;
  padding: 50px;
  line-height: 30px;
  border-radius: 20px;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.feature::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: 20px;
  box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, 0.5);
  transition: opacity 0.3s ease-in-out;
}

.feature:hover::after {
  opacity: 1;
}

table > h1 {
  font-size: 20px;
  padding-bottom: 30px;
  line-height: 100px !important;
}

.feature p {
  margin-top: 50px;
}

connection {
  border: 10px solid #fff;
  border-radius: 50px;
}

#mirror {
  position:relative;
  top: -300px;
  padding: 0px 10vw 50px 10vw;
}

#code {
  padding-top: 100px;
}

.hero {
  padding-left: 10vw;
  position: relative;
  vertical-align: middle;
  background-color: #fff;
  width: 100% !important;
}

.hero:after,
.hero:after {
  z-index: 2;
  position: absolute;
  top: 98.1%;
  left: 40%;
  margin-left: -25%;
  content: "";
  width: 0;
  height: 0;
  border-top: solid 50px #fff;
  border-left: solid 50px transparent;
  border-right: solid 50px transparent;
}

.arrow-right {
  width: 0;
  height: 0;
  border-left: 50vw solid transparent;
  border-right: 0vw solid transparent;
  position:relative;
  top:-18vh;
  left: 50vw;
  border-bottom: 18vh solid white;
}

.arrow-left {
  width: 0;
  height: 0;
  border-left: 0vw solid transparent;
  border-right: 50vw solid transparent;
  position:relative;
  top:-36vh;
  left: 0vw;
  border-bottom: 18vh solid white;
}

.barrow-right {
  width: 0;
  height: 0;
  border-left: 50vw solid transparent;
  border-right: 0vw solid transparent;
  position:relative;
  top:-54vh;
  left: 0;
  border-top: 18vh solid $blue;
}

.barrow-left {
  width: 0;
  height: 0;
  border-left: 0vw solid transparent;
  border-right: 50vw solid transparent;
  position:relative;
  top:-36vh;
  left: 50vw;
  border-top: 18vh solid $blue;
}

.skew {
  color: white;
  position:relative;
  top: -38vh
}
/*# sourceMappingURL=style.css.map */

/*# sourceMappingURL=style.scss.map */
